modules = ["php-8.2", "web", "nodejs-20"]
run = "run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Start WordPress Development Server"

[[workflows.workflow]]
name = "Start WordPress Development Server"
author = 46523511
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
